$primary: #5764f1;
@import "bootstrap/scss/bootstrap";

$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons";



#nav {
    background: linear-gradient(black, rgba(0, 0, 0, 0));
    width: 100%;
    height: 80px;
    img{
        height: 60px;
        width: 60px;
    }
}

body {
    background: linear-gradient(#202225, $primary) no-repeat center center fixed; // discord them color
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.container-height{
    height: auto;
    @include media-breakpoint-up(md) {
        height: 100vh;
    }

    .introduction{
        height: 100vh;
        @include media-breakpoint-up(md) {
            height: auto;
        }
    }
}

.section{
    position: relative;
    &:before{
        content: ' ';
        background-color: rgba(33, 35, 38, 0.5);
        clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &.revers{
        &:before{
            content: ' ';
            background-color: rgba(33, 35, 38, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
        }
    }
}

.footer{
    background: linear-gradient(rgba(0, 0, 0, 0), black);
    height: 100px;
}

%section{
    position: relative;
    height: 400px;
    @include media-breakpoint-up(lg) {
        height: 500px;
    }
    img{
        border-radius: 20px;
        position: absolute;
        width: 300px;
        top: 0;
        z-index: 2;
        transform: translate(-50%, -40%);
        left: 50%;
        @include media-breakpoint-up(md) {
            width: 350px;
        }
        @include media-breakpoint-up(lg) {
            width: 350px
        }
        @include media-breakpoint-up(xl) {
            width: 400px
        }
    }
}
#section-1, #section-3{
    @extend %section;
    img{

        @include media-breakpoint-up(lg) {
            left: 0;
            transform: rotate(10deg) translate(100px, -40%);
        }
    }
}

#section-2, #section-4{
    @extend %section;
    img{
        @include media-breakpoint-up(lg) {
            left: 0;
            transform: rotate(-10deg) translate(50px, -40%);
        }
    }
}

#github {
    &:hover {
        color: #fff;
        background-color: #3d3d3d;
    }

    color: #fff;
    background-color: black;
}

/* button pulse start */
.btn-pulse{
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 var(--bs-primary);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--bs-primary);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(var(--bs-primary-rgb), 0);
    }
}
/* button pulse end */

/* video start */
.video{
    animation: floating 3s ease-in-out infinite;
    position: relative;
    border-radius: 20px;
    @include media-breakpoint-up(xs) {
        width: 100%;
        height: auto;
        transform: translate(0)
    }
    @include media-breakpoint-up(sm) {
        width: 100%;
        height: auto;
        transform: translateX(0);
    }
    @include media-breakpoint-up(md) {
        width: 100%;
        height: auto;
        transform: translateX(0);
    }
    @include media-breakpoint-up(lg) {
        height: 420px;
        width: auto;
        transform: translateX(0);
    }
    @include media-breakpoint-up(xl) {
        height: 500px;
        width: auto;
        transform: translateX(0);
    }
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}
/* video end */

/* bubbles start */
.bubbles {
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .bubble {
        position: absolute;
        left: var(--bubble-left-offset);
        bottom: calc(0px - var(--bubble-size));
        display: block;
        width: var(--bubble-size);
        height: var(--bubble-size);
        border-radius: 50%;
        animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: hsla(183, 100%, 85%, 0.3);
            border-radius: inherit;
            animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) ease-in-out alternate infinite;
            box-shadow: 0 0 5px 0 rgba(183, 100%, 85%, 0.3);

        }
    }
}

@keyframes float-up {
    to {
        transform: translateY(-175vh);
    }
}

@keyframes sway-left-to-right {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes sway-right-to-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
/* bubbles end */